/* Components */
@use 'abstract' as *;

.card {
    &__image {
        margin-bottom: clamp(rem(32), 1.713rem + 1.220vw, rem(45));
    }

    &__heading {
        margin-bottom: rem(16);
        text-align: center;
        color: var(--clr-dark);
        font-weight: var(--fw-black);
        font-size: clamp(rem(22), 1.243rem + 0.563vw, rem(28));
    }

    &__paragraph {
        margin-inline: clamp(rem(32), 1.647rem + 1.502vw, rem(48));
        margin-bottom: clamp(rem(20), 1.161rem + 0.375vw, rem(24));
        text-align: center;
        color: var(--clr-desaturated);
        font-size: clamp(rem(15), 0.915rem + 0.094vw, rem(16));
    }
}

.product-overview {
    background-color: var(--clr-very-pale);
    border-radius: var(--border-radius-small);
    margin-inline: clamp(rem(24), 0.971rem + 2.253vw, rem(48));
    margin-bottom: rem(24);
    padding: clamp(rem(16), 0.823rem + 0.751vw, rem(24));
    justify-content: space-between;

    &__image {
        margin-right: rem(20);
    }

    &__plan {
        margin-right: auto;
        font-size: clamp(rem(14), 0.830rem + 0.187vw, rem(16));
    }

    &__heading {
        color: var(--clr-dark);
        font-weight: var(--fw-black);
        font-size: inherit;
    }

    &__paragraph {
        color: var(--clr-desaturated);
        font-size: inherit;
    }

    &__button {
        color: var(--clr-bright);
        font-size: clamp(rem(13), 0.790rem + 0.093vw, rem(14));
        font-weight: var(--fw-bold);
        text-decoration: underline;
    }

    &__button:hover {
        color: var(--clr-bright--hover);
    }

}

.order {
    margin-inline: clamp(rem(24), 0.971rem + 2.253vw, rem(48));

    &__proceed {
        display: block;
        width: 100%;
        background-color: var(--clr-bright);
        color: var(--clr-white);
        font-size: rem(15);
        font-weight: var(--fw-black);
        border-radius: var(--border-radius);
        padding-block: rem(15);
        margin-bottom: rem(32);
        box-shadow: 0 10px 20px -5px var(--clr-bright--hover);
    }

    &__proceed:hover {
        background-color: var(--clr-bright--hover);
    }

    &__cancel {
        display: block;
        margin-inline: auto;
        font-size: rem(15);
        font-weight: var(--fw-black);
        color: var(--clr-desaturated);
        margin-bottom: clamp(rem(32), 1.647rem + 1.502vw, rem(48));
    }

    &__cancel:hover {
        color: var(--clr-dark);
    }
}