/* Components */
@use 'abstract' as *;

.card {
    &__image {
        margin-bottom: clamp-builder(32, 45);
    }

    &__heading {
        margin-bottom: rem(16);
        text-align: center;
        color: var(--clr-dark);
        font-weight: var(--fw-black);
        font-size: clamp-builder(22, 28);
    }

    &__paragraph {
        margin-inline: clamp-builder(32, 48);
        margin-bottom: clamp-builder(20, 24);
        text-align: center;
        color: var(--clr-desaturated);
        font-size: clamp-builder(15, 16);
    }
}

.product-overview {
    background-color: var(--clr-very-pale);
    border-radius: var(--border-radius-small);
    margin-inline: clamp-builder(24, 48);
    margin-bottom: rem(24);
    padding: clamp-builder(16, 24);
    justify-content: space-between;

    &__image {
        margin-right: rem(20);
    }

    &__plan {
        margin-right: auto;
        font-size: clamp-builder(14, 16);
    }

    &__heading {
        color: var(--clr-dark);
        font-weight: var(--fw-black);
        font-size: inherit;
    }

    &__paragraph {
        color: var(--clr-desaturated);
        font-size: inherit;
    }

    &__button {
        color: var(--clr-bright);
        font-size: clamp-builder(13, 14);
        font-weight: var(--fw-bold);
        text-decoration: underline;
    }

    &__button:hover {
        color: var(--clr-bright--hover);
    }

}

.order {
    margin-inline: clamp-builder(24, 48);

    &__proceed {
        display: block;
        width: 100%;
        background-color: var(--clr-bright);
        color: var(--clr-white);
        font-size: rem(15);
        font-weight: var(--fw-black);
        border-radius: var(--border-radius);
        padding-block: rem(15);
        margin-bottom: rem(32);
        box-shadow: 0 10px 20px -5px var(--clr-bright--hover);
    }

    &__proceed:hover {
        background-color: var(--clr-bright--hover);
    }

    &__cancel {
        display: block;
        margin-inline: auto;
        font-size: rem(15);
        font-weight: var(--fw-black);
        color: var(--clr-desaturated);
        margin-bottom: clamp-builder(32, 48);
    }

    &__cancel:hover {
        color: var(--clr-dark);
    }
}