/* Utilities */
@use 'abstract' as *;

.wrapper {
    max-width: clamp(rem(327), 17.730rem + 11.549vw, rem(450));
    background-color: var(--clr-white);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.flex {
    display: flex;

    &--center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}