/* Variables */

:root {

    --clr-white: hsl(0, 0%, 100%);
    --clr-very-pale: hsl(228, 100%, 98%);
    --clr-pale: hsl(225, 100%, 94%);
    --clr-desaturated: hsl(224, 23%, 55%);
    --clr-bright: hsl(245, 75%, 52%);
    --clr-bright--hover: hsl(245, 83%, 68%);
    --clr-dark: hsl(223, 47%, 23%);


    --ff-sans: 'Red Hat Display', sans-serif;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-black: 900;

    --border-radius: 20px;
    --border-radius-small: 10px;

}